@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Happy+Monkey');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Josefin Sans', cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bar {
  height: 10px;
  background-color: rgb(38, 38, 122);
  width: 100%;
  position: relative;
  animation: fillBar 5s forwards;
  animation-timing-function: linear;
  align-items: center;
}

.barWrapper {
  height: 10px;
}

@keyframes fillBar {
  from {width: 100%;}
  to {width: 0;}
  }

.playButton {
  border-radius: 25px;
  background-color: #9EDBEE;
  width: 250px;
  height: 50px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.scoreboardButton {
  border-radius: 25px; 
  background-color: #D9D9D9;
  width: 200px;
  height: 50px;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.infoButton {
  position: absolute; 
  bottom: 0;
  right: 0;
  margin: 10px;

}

.text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 25px;
  background-color: #9EDBEE;
  width: 250px;
  height: 50px;
  margin: auto;
  box-shadow: rgb(255, 255, 255) 0px 5px 15px;
  font-size: x-large;
  font-family: 'Josefin Sans', sans-serif;
}

.text:hover {
  background-color: #ffffff;
  box-shadow: rgba(21, 255, 0, 0.393) 0px 5px 15px;
}

.game {
  width: calc(100vw - 150px);
  height: calc(80vh - 100px);
  background-color: rgb(202, 230, 240);
  position: relative;
  margin: 50px;
}

.fruits {
  transform: translate(-50%, -50%); 
  position: absolute;
}

.scoreboard {
  margin: 0;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
}

table {
  font-family: 'Josefin Sans', sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #9EDBEE;
  color: rgb(178, 125, 11);  
}

td {
  border: 1px solid #ddd;
  padding: 8px;
  
  text-align: center;
}

.headerScoreboard {
  font-family: 'Josefin Sans', sans-serif;
  font-size: xx-large;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.backscoreboard {
  position:absolute;
  top:0;
  left:0;
  margin: 30px;
  
}

.headerOne {
  text-align : center;
  margin: auto;
  background-color: rgb(202, 230, 240);
  font-family: 'Josefin Sans ', cursive;
}

.titel {
  position: absolute;
  text-align: center;
  z-index: 1;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Luckiest Guy', sans-serif;
  color: rgb(211, 148, 12);  
  text-shadow: 1px 1px #423c20;
  font-size: 5vw;
}

@media screen and (max-width: 600px) {
  .titel {
    font-size: 9.5vw;
  }
}

@media screen and (max-width: 600px) {
  .scoreboard {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .scoreboard {
    width: 100%;
  }
  .titel {
    font-size: 12vw;
  }
}
